*.class
*.diff.geojson
*.gcov
*.log
*.new.geojson
*.actual.json
.DS_Store
.cache/
.idea/
.kotlin
.venv
.vscode/
MODULE.bazel.lock
bazel-*
bin/
codecov*
coverage/
cmake_test_discovery*.json
dist/
site/
tmp/
node_modules
